body {
	background: black;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}
.square {
	background: green;
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 20%;
	transition: background 1.0s;
}

#container {
	max-width: 350px;
	margin: 0 auto;
}

h1 {
	color: white;
	line-height: 1.1;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 20px;
}

#strip {
	background-color: white;
	text-align: center;

}

.selected {
	background-color: steelblue;
	color: white;
}

#displaytargetcolor {
	font-size: 200%;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	font-weight: 700;
	transition: all 0.5s;
	outline: none;
}

button:hover {
	background-color: steelblue;
	color: white;
}
#message {
	display: inline-block;
	width: 20%;
	color: steelblue;
	font-weight: 700;
	font-size: inherit;
}